.bg-img-one { background: url("../images/bg-image/travel-slider-01.jpg") center center no-repeat; background-size: cover;}
.bg-img-two { background: url("../images/bg-image/travel-slider-02.jpg") center center no-repeat; background-size: cover;}
.bg-img-three { background: url("../images/bg-image/travel-slider-03.jpg") center center no-repeat; background-size: cover;}
.bg-img-four { background: url("../images/bg-image/agency-subscribe-bg.jpg") center center no-repeat; background-size: cover;}
.bg-img-five { background: url("../images/bg-image/hero-bg6.jpg") center center no-repeat; background-size: cover;}
