.bg-img-one { background: url("../images/bg-image/header-25.jpg") center center no-repeat; background-size: cover;}
.bg-img-two { background: url("../images/bg-image/hero-bg12.jpg") center center no-repeat; background-size: cover;}
