.bg-img-one {background: url("../images/bg-image/hero-bg34.jpg") center center no-repeat; background-size: cover;}
.bg-img-two {background: url("../images/bg-image/content-16.jpg") center center no-repeat; background-size: cover;}
.bg-img-three {background: url("../images/bg-image/hero-bg23.jpg") center center no-repeat; background-size: cover;}
.bg-img-four {background: url("../images/bg-image/hero-bg32.jpg") center center no-repeat; background-size: cover;}
.bg-img-five {background: url("../images/bg-image/hero-bg30.jpg") center center no-repeat; background-size: cover;}
.bg-img-six {background: url("../images/bg-image/content-01.jpg") center center no-repeat; background-size: cover;}
.bg-img-seven {background: url("../images/bg-image/hero-bg9.jpg") center center no-repeat; background-size: cover;}